# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Préparation des données Name basics</div>

## Participants
* Samantha
* Rachelle
* Andrew

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [1]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [1]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [2]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'

name_basics= 'name.basics.tsv'

file_name_basics= f"{source_dir}/{name_basics}"

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Préparation des données</a></div>

### Chargement du jeu de données

In [3]:
chunk_size = 300000
name_chunks = []
columns_to_merge = ['nconst', 'primaryName']

for chunk in pd.read_csv(file_name_basics, sep='\t', na_values='\\N', chunksize=chunk_size, usecols=columns_to_merge):
    name_chunks.append(chunk)

df_name = pd.concat(name_chunks)
df_name.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

### EDA

In [4]:
df_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13508117 entries, 0 to 13508116
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   nconst       object
 1   primaryName  object
dtypes: object(2)
memory usage: 206.1+ MB

### Insertion dans un fichier CSV

In [5]:
dest_dir ='/home/dstrec/dstrec/010_data/001_transformed'
name_basics_csv = 'name_basics.csv'

output_file_name_basics = f"{dest_dir}/{name_basics_csv}"

df_name.to_csv(output_file_name_basics, index=False)