# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Préparation des données Title principals</div>

## Participants
* Samantha
* Rachelle
* Andrew

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [1]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [2]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [4]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'
transformed_dir = '/home/dstrec/dstrec/010_data/001_transformed'

title_principals= 'title.principals.tsv'
title_basics_tconst = 'title_basics_tconst.csv'

file_title_principals= f"{source_dir}/{title_principals}"
file_title_basics_tconst= f"{transformed_dir}/{title_basics_tconst}"

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Préparation des données</a></div>

### Chargement du jeu de données

In [5]:
df_basics_tconst = pd.read_csv(file_title_basics_tconst)
valid_tconsts = set(df_basics_tconst['tconst'])

chunk_size = 100000
principals_chunk = []

for chunk in pd.read_csv(file_title_principals, sep='\t',  na_values='\\N', chunksize=chunk_size):
    filtered_chunk = chunk[chunk['tconst'].isin(valid_tconsts)]
    principals_chunk.append(filtered_chunk)

df_principals_filtered = pd.concat(principals_chunk, ignore_index=True)
df_principals_filtered.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"
2,tt0000009,3,nm1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,tt0000009,4,nm0085156,director,NaN,NaN
4,tt0000009,5,nm0085156,writer,NaN,NaN

### EDA

In [6]:
df_principals_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841629 entries, 0 to 6841628
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 313.2+ MB

### Insertion dans un fichier CSV

In [7]:
dest_dir = '/home/dstrec/dstrec/010_data/001_transformed'
title_principals_csv = 'title_principals.csv'

output_file_title_principals = f"{dest_dir}/{title_principals_csv}"

df_principals_filtered.to_csv(output_file_title_principals, index=False)