# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Transformation des données IMDb</div>

## Participants
* Samantha
* Rachelle
* Andrew

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [1]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [1]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [2]:
transformed_dir = '/home/dstrec/dstrec/010_data/001_transformed'

title_principals= 'title_principals_transformed.csv'
title_basics = 'title_basics.csv'


file_title_principals= f"{transformed_dir}/{title_principals}"
file_title_basics= f"{transformed_dir}/{title_basics}"

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Préparation des données</a></div>

### Chargement du jeu de données

In [3]:
df_principals = pd.read_csv(file_title_principals)
df_principals.head()

,tconst,actor,actress,composer,director,producer
0,tt0000009,William Courtenay,Blanche Bayliss,NaN,Alexander Black,Alexander Black
1,tt0000147,NaN,NaN,NaN,Enoch J. Rector,William A. Brady
2,tt0000502,Antonio del Pozo,NaN,NaN,Ricardo de Baños,NaN
3,tt0000574,Godfrey Cass,Bella Cola,Eric Chapus,Charles Tait,W.A. Gibson
4,tt0000675,NaN,NaN,NaN,Narciso Cuyàs,NaN

In [4]:
chunk_size = 100000
merged_chunks = []

for chunk in pd.read_csv(file_title_basics, chunksize=chunk_size):
    merged_chunk = pd.merge(chunk, df_principals, on='tconst', how='inner')
    merged_chunks.append(merged_chunk)

df_imdb = pd.concat(merged_chunks, ignore_index=True)

df_imdb.head()

,tconst,titleType,primaryTitle,genres,averageRating,numVotes,actor,actress,composer,director,producer
0,tt0111161,movie,The Shawshank Redemption,Drama,9.3,2896494.0,Tim Robbins,NaN,Thomas Newman,Frank Darabont,Niki Marvin
1,tt0468569,movie,The Dark Knight,"Action,Crime,Drama",9.0,2877871.0,Christian Bale,Maggie Gyllenhaal,James Newton Howard,Christopher Nolan,Christopher Nolan
2,tt1375666,movie,Inception,"Action,Adventure,Sci-Fi",8.8,2557396.0,Leonardo DiCaprio,Marion Cotillard,Hans Zimmer,Christopher Nolan,Christopher Nolan
3,tt0137523,movie,Fight Club,Drama,8.8,2330795.0,Brad Pitt,Eugenie Bondurant,John King,David Fincher,Ross Grayson Bell
4,tt0109830,movie,Forrest Gump,"Drama,Romance",8.8,2263456.0,Tom Hanks,Robin Wright,Alan Silvestri,Robert Zemeckis,Steve Tisch

### EDA

In [5]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572547 entries, 0 to 572546
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         572547 non-null  object
 1   titleType      572547 non-null  object
 2   primaryTitle   572547 non-null  object
 3   genres         513333 non-null  object
 4   averageRating  274637 non-null  float64
 5   numVotes       274637 non-null  float64
 6   actor          412818 non-null  object
 7   actress        377625 non-null  object
 8   composer       271256 non-null  object
 9   director       525915 non-null  object
 10  producer       367923 non-null  object
dtypes: float64(2), object(9)
memory usage: 48.1+ MB

### Valeurs manquantes

In [6]:
df_imdb.isna().sum()

tconst                0
titleType             0
primaryTitle          0
genres            59214
averageRating    297910
numVotes         297910
actor            159729
actress          194922
composer         301291
director          46632
producer         204624
dtype: int64

### Insertion dans un fichier CSV

In [10]:
dest_dir = '/home/dstrec/dstrec/010_data/001_transformed'
imdb_csv = 'imdb.csv'

output_file_imdb = f"{dest_dir}/{imdb_csv}"

df_imdb.to_csv(output_file_imdb, index=False)