# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Tags</div>

## Participants
* Samantha
* Rachelle
* Andrew

## Résumé des observations

Ce jeu de données comprend 4 colonnes et 465 564 lignes.
La colonne tag comporte 16 valeurs manquantes.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Importation des librairies

In [1]:
import pandas as pd

### Chargement des fichiers

In [ ]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/movielens'
name_file= 'tags.csv'
file_path= f"{source_dir}/{name_file}"

### Chargement du jeu de données

In [2]:
tags = pd.read_csv(file_path)

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [3]:
print("Les premières lignes du fichier :")
tags.head()

Les premières lignes du fichier :

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [4]:
print(f"Ce jeu de données a {tags.shape[1]} colonnes et {tags.shape[0]} lignes.")

Ce jeu de données a 4 colonnes et 465564 lignes.

### EDA

In [5]:
print("Informations sur les données :")
tags.info()

Informations sur les données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465564 non-null  int64
 1   movieId    465564 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465564 non-null  int64
dtypes: int64(3), object(1)
memory usage: 14.2+ MB

### Statistiques descriptives

In [6]:
print("Description statistique des données :")
tags.describe()

Description statistique des données :

              userId        movieId     timestamp
count  465564.000000  465564.000000  4.655640e+05
mean    68712.354263   32627.762920  1.298711e+09
std     41877.674053   36080.241157  7.920891e+07
min        18.000000       1.000000  1.135429e+09
25%     28780.000000    2571.000000  1.245007e+09
50%     70201.000000    7373.000000  1.302291e+09
75%    107322.000000   62235.000000  1.366218e+09
max    138472.000000  131258.000000  1.427771e+09

### Valeurs manquantes

In [7]:
print("Vérification des données manquantes :")
print(tags.isnull().sum())

Vérification des données manquantes :
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

### Description du contenu

In [8]:
#Le fichier tags.csv contient des tags (étiquettes) appliqués aux films par les utilisateurs. Voici ce que 
#chaque colonne représente :

#userId : L'identifiant unique d'un utilisateur. Chaque utilisateur a son propre identifiant.
#movieId : L'identifiant unique d'un film. Chaque film a son propre identifiant.
#tag : Le tag appliqué par l'utilisateur au film. C'est généralement un mot ou une courte phrase décrivant le 
#film.
#timestamp : L'horodatage indiquant quand le tag a été appliqué, en secondes depuis le 1er janvier 1970 (UTC).

#En résumé, tags.csv fournit des informations sur les tags appliqués aux films par les utilisateurs, incluant 
#les identifiants des utilisateurs et des films, les tags eux-mêmes, et les horodatages indiquant quand les 
#tags ont été appliqués. Ces données permettent de comprendre comment les utilisateurs décrivent et 
#catégorisent les films.