# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Links</div>

## Participants
* Samantha
* Rachelle
* Andrew

## Résumé des observations

Ce jeu de données comprend 3 colonnes et 27 278 lignes.
La colonne tmdbId comporte 252 valeurs manquantes.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Importation des librairies

In [1]:
import pandas as pd

### Chargement des fichiers

In [ ]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/movielens'
name_file= 'links.csv'
file_path= f"{source_dir}/{name_file}"

### Chargement du jeu de données

In [2]:
links = pd.read_csv(file_path)

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [4]:
print("Les premières lignes du fichier :")
links.head()

Les premières lignes du fichier :

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
print(f"Ce jeu de données a {links.shape[1]} colonnes et {links.shape[0]} lignes.")

Ce jeu de données a 3 colonnes et 27278 lignes.

### EDA

In [6]:
print("Informations sur les données :")
links.info()

Informations sur les données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   imdbId   27278 non-null  int64
 2   tmdbId   27026 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 639.5 KB

### Statistiques descriptives

In [7]:
print("Description statistique des données :")
links.describe()

Description statistique des données :

             movieId        imdbId         tmdbId
count   27278.000000  2.727800e+04   27026.000000
mean    59855.480570  5.781860e+05   63846.683083
std     44429.314697  7.804707e+05   69862.134497
min         1.000000  5.000000e+00       2.000000
25%      6931.250000  7.741725e+04   15936.500000
50%     68068.000000  1.524350e+05   39468.500000
75%    100293.250000  9.062715e+05   82504.000000
max    131262.000000  4.530184e+06  421510.000000

### Valeurs manquantes

In [8]:
print("Vérification des données manquantes :")
print(links.isnull().sum())

Vérification des données manquantes :
movieId      0
imdbId       0
tmdbId     252
dtype: int64

### Description du contenu

In [9]:
#Le fichier links.csv contient des identifiants pour les films qui permettent de les lier à d'autres bases de 
#données de films. Voici ce que chaque colonne représente :

#movieId : C'est l'identifiant unique du film dans le système MovieLens. Par exemple, pour le film Toy Story, 
#cet identifiant est 1.

#imdbId : C'est l'identifiant unique du film dans la base de données IMDb (Internet Movie Database). 
#Pour Toy Story, cet identifiant est tt0114709.

#tmdbId : C'est l'identifiant unique du film dans la base de données The Movie Database (TMDb). 
#Pour Toy Story, cet identifiant est 862.

#Chaque ligne du fichier représente un film et fournit les identifiants correspondants dans les trois systèmes 
#de bases de données (MovieLens, IMDb, et TMDb). Ces identifiants permettent de relier et de rechercher des 
#informations supplémentaires sur les films dans ces bases de données externes.