# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Movies</div>

## Participants
* Samantha
* Rachelle
* Andrew

## Résumé des observations

Ce jeu de données comprend 3 colonnes et 27 278 lignes, et il n'y a aucune valeur manquante.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Importation des librairies

In [1]:
import pandas as pd

### Chargement des fichiers

In [ ]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/movielens'
name_file= 'movies.csv'
file_path= f"{source_dir}/{name_file}"

### Chargement du jeu de données

In [2]:
movies = pd.read_csv(file_path)

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [3]:
print("Les premières lignes du fichier :")
movies.head()

Les premières lignes du fichier :

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
print(f"Ce jeu de données a {movies.shape[1]} colonnes et {movies.shape[0]} lignes.")

Ce jeu de données a 3 colonnes et 27278 lignes.

### EDA

In [5]:
print("Informations sur les données :")
movies.info()

Informations sur les données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

### Statistiques descriptibes

In [6]:
print("Description statistique des données :")
movies.describe()

Description statistique des données :

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

### Valeurs manquantes

In [7]:
print("Vérification des données manquantes :")
print(movies.isnull().sum())

Vérification des données manquantes :
movieId    0
title      0
genres     0
dtype: int64

### Description du contenu

In [8]:
#Le fichier movies.csv contient des informations de base sur les films. Voici ce que chaque colonne représente :

#movieId : L'identifiant unique d'un film. Chaque film a son propre identifiant.
#titre : Le titre du film, incluant l'année de sortie entre parenthèses.
#genres : Les genres sont une liste séparée par des barres verticales (|) et sont sélectionnés parmi les genres
# suivants :

#Action
#Adventure (Aventure)
#Animation
#Children's (Enfants)
#Comedy (Comédie)
#Crime (Policier)
#Documentary (Documentaire)
#Drama (Drame)
#Fantasy (Fantastique)
#Film-Noir
#Horror (Horreur)
#Musical
#Mystery (Mystère)
#Romance
#Sci-Fi (Science-fiction)
#Thriller
#War (Guerre)
#Western
#(no genres listed) (pas de genres listés)

#En résumé, movies.csv fournit des informations de base sur chaque film, y compris un identifiant unique, le 
#titre (avec l'année de sortie) et les genres associés au film. Les genres sont listés sous forme de chaîne de 
#caractères séparée par des barres verticales pour les films ayant plusieurs genres.