# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Ratings</div>

## Participants
* Samantha
* Rachelle
* Andrew

## Résumé des observations

Ce jeu de données comprend 4 colonnes et 20 000 263 lignes, et il n'y a aucune valeur manquante.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Importation des librairies

In [1]:
import pandas as pd

### Chargement des fichiers

In [ ]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/movielens'
name_file= 'ratings.csv'
file_path= f"{source_dir}/{name_file}"

### Chargement du jeu de données

In [2]:
ratings = pd.read_csv(file_path)

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [3]:
print("Les premières lignes du fichier :")
ratings.head()

Les premières lignes du fichier :

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [4]:
print(f"Ce jeu de données a {ratings.shape[1]} colonnes et {ratings.shape[0]} lignes.")

Ce jeu de données a 4 colonnes et 20000263 lignes.

### EDA

In [5]:
print("Informations sur les données :")
ratings.info()

Informations sur les données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

### Statistiques descriptives

In [6]:
print("Description statistique des données :")
ratings.describe()

Description statistique des données :

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

### Valeurs manquantes

In [7]:
print("Vérification des données manquantes :")
print(ratings.isnull().sum())

Vérification des données manquantes :
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

### Description du contenu

In [8]:
#Le fichier ratings.csv contient des évaluations de films par des utilisateurs. Voici ce que chaque colonne 
#représente :

#userId : L'identifiant unique d'un utilisateur. Chaque utilisateur a son propre identifiant.
#movieId : L'identifiant unique d'un film. Chaque film a son propre identifiant.
#notation : La note donnée par l'utilisateur au film, sur une échelle de 0,5 à 5,0 étoiles, par incréments 
#de 0,5.
#timestamp : L'horodatage indiquant quand l'évaluation a été faite, en secondes depuis le 1er janvier 1970 
#(heure du Pacifique).

#En résumé, ratings.csv fournit des informations sur les évaluations des films par les utilisateurs, incluant 
#les identifiants des utilisateurs et des films, les notes attribuées, et les horodatages des évaluations. 
#Ces données permettent d'analyser les préférences des utilisateurs et les performances des films.