# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Title ratings</div>

## Participants
* Samantha
* Rachelle
* Andrew


## Résumé des observations

Ce jeu de données comprend 3 colonnes et 1 439 968 lignes, et il n'y a aucune valeur manquante ni dupliquée dans les données.
L'ensemble du dataset est à conserver sans aucune action spécifique n'est nécessaire pour ce dataset jusqu'à la phase de fusion entre IMDb et MovieLens.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [25]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [4]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [1]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'
name_file= 'title.ratings.tsv'
file_path= f"{source_dir}/{name_file}"

### Chargement des jeux de données

In [2]:
!wc -l '/home/dstrec/dstrec/010_data/000_source/imdb_datasets/title.ratings.tsv'

1439969 /home/dstrec/dstrec/00_data_source/imdb_datasets/title.ratings.tsv

In [5]:
df= pd.read_csv(file_path, sep='\t', na_values='\\N', low_memory=False)

### Configuration des variables

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [6]:
df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2015
3  tt0000004            5.4       179
4  tt0000005            6.2      2784

In [7]:
print(f"Ce jeu de données a {df.shape[1]} colonnes et {df.shape[0]} lignes.")

Ce jeu de données a 3 colonnes et 1439968 lignes.

### EDA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439968 entries, 0 to 1439967
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1439968 non-null  object
 1   averageRating  1439968 non-null  float64
 2   numVotes       1439968 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.0+ MB

### Statistique descriptives

In [9]:
df.describe(include='all')

           tconst  averageRating      numVotes
count     1439968   1.439968e+06  1.439968e+06
unique    1439968            NaN           NaN
top     tt0000001            NaN           NaN
freq            1            NaN           NaN
mean          NaN   6.952764e+00  1.031820e+03
std           NaN   1.385237e+00  1.768255e+04
min           NaN   1.000000e+00  5.000000e+00
25%           NaN   6.200000e+00  1.100000e+01
50%           NaN   7.100000e+00  2.600000e+01
75%           NaN   7.900000e+00  1.010000e+02
max           NaN   1.000000e+01  2.896494e+06

### Valeurs manquantes

In [10]:
df.isna().sum()  / len(df) * 100

tconst           0.0
averageRating    0.0
numVotes         0.0
dtype: float64

### Valeurs dupliquées

In [11]:
print(f"Ce jeu de données a {df.duplicated().values.sum()} valeur(s) dupliquée(s).")

Ce jeu de données a 0 valeur(s) dupliquée(s).