# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Title episode</div>

## Participants

* Samantha
* Rachelle
* Andrew


## Résumé des observations

Ce jeu de données comprend 4 colonnes et 8 258 774 lignes, et il n'y a aucune valeur dupliquée dans les données.
Cependant, certaines colonnes contiennent des valeurs manquantes.

* La colonne `seasonNumber` a plus de 20% de valeurs manquantes.
* La colonne `episodeNumber` a plus de 20% de valeurs manquantes.
* Le pourcentage des `tconst` des `tvEpisode` dans `title.basics` qui sont présents dans `title.episode` : 99.97%

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [25]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [1]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [12]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'

title_episode_file = 'title.episode.tsv'
title_basics_file = 'title.basics.tsv'

file_path_title_episode = f"{source_dir}/{title_episode_file}"
file_path_title_basics  = f"{source_dir}/{title_basics_file}"

### Chargement des jeux de données

In [3]:
df = pd.read_csv(file_path_title_episode, sep='\t', na_values='\\N', low_memory=False)

### Configuration des variables

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [4]:
df.head()

      tconst parentTconst  seasonNumber  episodeNumber
0  tt0041951    tt0041038           1.0            9.0
1  tt0042816    tt0989125           1.0           17.0
2  tt0042889    tt0989125           NaN            NaN
3  tt0043426    tt0040051           3.0           42.0
4  tt0043631    tt0989125           2.0           16.0

In [5]:
print(f"Ce jeu de données a {df.shape[1]} colonnes et {df.shape[0]} lignes.")

Ce jeu de données a 4 colonnes et 8258774 lignes.

### EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8258774 entries, 0 to 8258773
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   float64
 3   episodeNumber  float64
dtypes: float64(2), object(2)
memory usage: 252.0+ MB

### Statistique descriptives

In [7]:
df.describe(include='all')

           tconst parentTconst  seasonNumber  episodeNumber
count     8258774      8258774  6.583753e+06   6.583753e+06
unique    8258774       204745           NaN            NaN
top     tt0041951   tt12164062           NaN            NaN
freq            1        18593           NaN            NaN
mean          NaN          NaN  3.758391e+00   4.070305e+02
std           NaN          NaN  2.300349e+01   1.310846e+03
min           NaN          NaN  1.000000e+00   0.000000e+00
25%           NaN          NaN  1.000000e+00   7.000000e+00
50%           NaN          NaN  1.000000e+00   2.800000e+01
75%           NaN          NaN  3.000000e+00   1.530000e+02
max           NaN          NaN  2.024000e+03   9.133400e+04

### Valeurs manquantes

In [8]:
df.isna().sum()  / len(df) * 100

tconst            0.000000
parentTconst      0.000000
seasonNumber     20.281715
episodeNumber    20.281715
dtype: float64

<span style="font-size: 16px;"><b>Remarques :</b><br><br>
Les colonnes "seasonNumber" et "episodeNumber" possèdent 20% de valeurs manquantes.
</span>

### Valeurs dupliquées

In [9]:
print(f"Ce jeu de données a {df.duplicated().values.sum()} valeur(s) dupliquée(s).")

Ce jeu de données a 0 valeur(s) dupliquée(s).

### Comparaison de colonnes

In [14]:
chunk_size = 100000
tv_episodes_in_basics_set = set()
episodes_set = set()

for chunk in pd.read_csv(file_path_title_basics, sep='\t', na_values='\\N', usecols=['tconst', 'titleType'], chunksize=chunk_size):
    tv_episodes_in_basics_set.update(chunk[chunk['titleType'] == 'tvEpisode']['tconst'])

for chunk in pd.read_csv(file_path_title_episode, sep='\t', na_values='\\N', usecols=['tconst'], chunksize=chunk_size):
    episodes_set.update(chunk['tconst'])

total_tv_episodes = len(tv_episodes_in_basics_set)
matching_tv_episodes = len(tv_episodes_in_basics_set.intersection(episodes_set))
percentage_matching = (matching_tv_episodes / total_tv_episodes) * 100

print(f"Pourcentage des `tconst` des `tvEpisode` dans `title.basics` qui sont présents dans `title.episode`: {percentage_matching:.2f}%")

Pourcentage des `tconst` des `tvEpisode` dans `title.basics` qui sont présents dans `title.episode`: 99.97%