# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Title crew</div>

## Participants

* Samantha
* Rachelle
* Andrew


## Résumé des observations

Ce jeu de données comprend 3 colonnes et 10 143 819 lignes, et il n'y a aucune valeur dupliquée dans les données.
Cependant, certaines colonnes contiennent des valeurs manquantes.

A première vue les données de ce jeu de données n'apporteront pas de plus value pour la modèle de machine learning.
Les colonnes censées fournir des informations supplémentaires sur les directeurs et les auteurs des films contiennent énormément de valeurs manquantes.
Par exemple :
* La colonne `directors` a plus de 38% de valeurs manquantes.
* La colonne `writers` a plus de 44% de valeurs manquantes.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [25]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [1]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [2]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'
name_file= 'title.crew.tsv'
file_path= f"{source_dir}/{name_file}"

### Chargement des jeux de données

In [3]:
df= pd.read_csv(file_path, sep='\t', na_values='\\N', low_memory=False)

### Configuration des variables

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [4]:
df.head()

      tconst  directors writers
0  tt0000001  nm0005690     NaN
1  tt0000002  nm0721526     NaN
2  tt0000003  nm0721526     NaN
3  tt0000004  nm0721526     NaN
4  tt0000005  nm0005690     NaN

In [5]:
print(f"Ce jeu de données a {df.shape[1]} colonnes et {df.shape[0]} lignes.")

Ce jeu de données a 3 colonnes et 10143819 lignes.

### EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10143819 entries, 0 to 10143818
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 232.2+ MB

### Statistique descriptives

In [7]:
df.describe(include='all')

           tconst  directors    writers
count    10143819    6331292    5706675
unique   10143819     901489    1343002
top     tt0000001  nm1203430  nm6352729
freq            1      11415      14890

### Valeurs manquantes

In [8]:
df.isna().sum()  / len(df) * 100

tconst        0.000000
directors    37.584730
writers      43.742342
dtype: float64

<span style="font-size: 16px;"><b>Remarques :</b><br><br>
* La colonne directors a plus de 38% de valeurs manquantes.
* La colonne writers a plus de 44% de valeurs manquantes.
</span>

### Valeurs dupliquées

In [9]:
print(f"Ce jeu de données a {df.duplicated().values.sum()} valeur(s) dupliquée(s).")

Ce jeu de données a 0 valeur(s) dupliquée(s).