# <div style='color:white;background: #005792;text-align: center;padding: 15px 0'>Recommandations - Evaluation de la source de données Title akas</div>

## Participants
* Samantha
* Rachelle
* Andrew


## Résumé des observations

Ce jeu de données comprend 8 colonnes et 48 459 150 lignes, et il n'y a aucune valeur dupliquée dans les données.
Cependant, certaines colonnes contiennent des valeurs manquantes.

A première vue les données de ce jeu de données n'apporteront pas de plus value pour la modèle de machine learning.
En outre, les colonnes qui fournissent des informations supplémentaires aux films contiennent énorméments de valeurs manquantes.

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Configuration des variables globales</a></div>

### Installation des librairies

In [25]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly-express
# !pip install plotly

### Importation des librairies

In [2]:
import os
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import re

### Chargement des fichiers

In [3]:
source_dir= '/home/dstrec/dstrec/010_data/000_source/imdb_datasets'
name_file= 'title.akas.tsv'
file_path= f"{source_dir}/{name_file}"

### Chargement des jeux de données

In [15]:
!wc -l '/home/dstrec/dstrec/010_data/000_source/imdb_datasets/title.akas.tsv'

48459150 /home/dstrec/dstrec/00_data_source/imdb_datasets/title.akas.tsv

In [4]:
df= pd.read_csv(file_path, sep='\t', na_values='\\N', low_memory=False, nrows=20000000)

### Configuration des variables

### Configuration des fonctions

## <div style='background: #005792;text-align: center;padding: 15px 0'> <a style= 'color:white;' >Evaluation des données</a></div>

### Affichage du jeu de données

In [5]:
df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,NaN,NaN,original,NaN,1
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita,US,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0

In [6]:
print(f"Ce jeu de données a {df.shape[1]} colonnes et {df.shape[0]} lignes.")

Ce jeu de données a 8 colonnes et 20000000 lignes.

### EDA

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  int64
dtypes: int64(2), object(6)
memory usage: 1.2+ GB

### Statistique descriptives

In [10]:
df.describe(include='all')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
count,20000000,2.000000e+07,19999991,15600199,12798935,6715073,186881,2.000000e+07
unique,4357783,NaN,3665680,236,93,23,182,NaN
top,tt0088814,NaN,Episodio #1.1,FR,ja,original,transliterated title,NaN
freq,251,NaN,34370,1894066,1812893,4357780,26341,NaN
mean,NaN,4.561990e+00,NaN,NaN,NaN,NaN,NaN,2.178890e-01
std,NaN,4.762852e+00,NaN,NaN,NaN,NaN,NaN,4.128116e-01
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,NaN,2.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00
50%,NaN,4.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00
75%,NaN,6.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00
max,NaN,2.510000e+02,NaN,NaN,NaN,NaN,NaN,1.000000e+00

### Valeurs manquantes

In [11]:
df.isna().sum()  / len(df) * 100

titleId             0.000000
ordering            0.000000
title               0.000045
region             21.999005
language           36.005325
types              66.424635
attributes         99.065595
isOriginalTitle     0.000000
dtype: float64

### Valeurs dupliquées

In [12]:
print(f"Ce jeu de données a {df.duplicated().values.sum()} valeur(s) dupliquée(s).")

Ce jeu de données a 0 valeur(s) dupliquée(s).

### Valeurs uniques

In [8]:
df['attributes'].unique()

array([nan, 'literal title', 'literal English title',
       'informal alternative title', 'promotional title',
       'complete title', 'reissue title', 'informal title',
       'premiere title', 'short title', 'première title',
       'bowdlerized title', 'informal English title',
       'alternative spelling', 'original script title', 'copyright title',
       'long title', 'transliterated title', 'informal short title',
       'new title', 'review title', 'subtitle',
       'original subtitled version', 'informal literal title',
       'orthographically correct title', 'cut version',
       'pre-release title', 'video catalogue title', 'second part title',
       'third part title', 'fifth season title', 'fourth season title',
       'series title', 'poster title', 'rerun title', '8mm release title',
       'recut version', 'theatrical title', '16mm release title',
       'first part title', 'informal literal English title',
       'first episode title', 'segment title',
       'Los Angeles première title', 'DVD box title',
       'second copyright title', 'alternative transliteration',
       'short version', 'video box title', 'restored version',
       'IMAX version', 'english transliteration',
       'reissue title\x02recut version',
       '8mm release title\x02short version', 'DVD menu title',
       'anthology series', 'censored version', 'trailer title',
       'silent version', 'Berlin film festival title',
       'Cannes festival title', 'dubbed version',
       'reissue title\x02added framing sequences and narration in Yiddish',
       'bootleg title', 'Bable dialect title',
       'Venice film festival title', 'reissue title\x02Yiddish dubbed',
       'cable TV title', 'uncensored intended title',
       'literal translation of working title', 'last season title',
       'Yiddish dubbed', 'TV listings title', 'YIVO translation',
       'modern translation', 'long new title', "director's cut",
       'video box title\x02POLart', 'POLart',
       'reissue title\x02cut version',
       'reissue title\x02YIVO translation', 'racier version',
       'redubbed comic version', '3-D version', 'syndication title',
       'fake working title', 'closing credits title',
       'armed forces circuit title', 'reissue title\x02short version',
       'unauthorized video title', 'first season title', 'summer title',
       'longer version', 'second season title', 'sixth season title',
       'first episodes title', 'Pay-TV title', 'tenth season title',
       'MIFED title', '3-D video title', 'literal French title',
       'third and fourth season title', 'videogame episode',
       'new syndication title', 'promotional abbreviation',
       'ninth season title', 'eighth season title', 'X-rated version',
       'expansion title', 'correct transliteration', '16mm rental title',
       'Los Angeles premiere title', 'fourteenth season title',
       'teaser title', 'daytime version title', 'seventh season title',
       'third season title', 'video CD title', 'LD title',
       'soft porn version', 'video box title\x02cut version',
       'reissue title\x02racier version',
       'second part title\x028mm release title', 'weekend title',
       'English translation of working title', 'fifteenth season title',
       'twentieth season title', 'twentyfifth season title',
       'fourth part title', 'thirtysecond season title',
       'informal title\x02literal title', 'cable TV title\x02cut version',
       'twentyfirst season title',
       'closing credits title\x02pre-release title',
       'non-modified Hepburn romanization', 'Locarno film festival title',
       'eleventh season title', 'thirtythird season title',
       'rerun title\x02longer version', 'eighteenth season title',
       'thirtieth season title', 'sixteenth season title',
       'twelfth season title', 'thirteenth season title',
       'thirtyfirst season title', 'twentysecond season title',
       'twentythird season title', 'seventeenth season title',
       'twentyseventh season title', 'nineteenth season title',
       'game box title', 'title for episodes with guest hosts',
       'approximation of original mirrored title',
       'IMAX version\x02promotional title', 'twentyfourth season title',
       'twentysixth season title', 'bootleg title\x02X-rated version',
       'poster title\x02video box title',
       'dubbed version\x02recut version', 'twentyninth season title',
       'thirtyfourth season title',
       'American Mutoscope & Biograph catalog title',
       'twentyeighth season title', 'thirtyninth season title',
       'thirtyfifth season title', 'thirtysixth season title',
       'thirtyeighth season title', 'R-rated version',
       'original pilot title', 'thirtyseventh season title',
       'fortieth season title', 'Hakka dialect title',
       'Bilbao festival title',
       'thirteenth season title\x02promotional title',
       'video box title\x02orthographically correct title',
       'late Sunday edition', 'PC version',
       'fourth season title\x02recut version', 'GameCube version',
       'first segment title', 'third segment title',
       'second segment title', 'fifth part title'], dtype=object)

In [9]:
df['types'].unique()

array(['original', nan, 'imdbDisplay', 'alternative', 'festival', 'dvd',
       'working', 'tv', 'video', 'imdbDisplay\x02tv', 'alternative\x02tv',
       'imdbDisplay\x02working', 'imdbDisplay\x02festival',
       'working\x02tv', 'imdbDisplay\x02video', 'dvd\x02alternative',
       'tv\x02video', 'imdbDisplay\x02dvd', 'working\x02video',
       'working\x02festival', 'dvd\x02video', 'alternative\x02festival',
       'alternative\x02video', 'working\x02alternative'], dtype=object)